.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
}

#Standings {
  margin: auto;
}

#Feed {
  margin: auto;
}

#SidebarSchedule {

}

#TeamLeaders {
  margin: auto;
}

#Stats {
  margin: auto;
}